<div #appNavbar class="container-fluid navbar-general">
   <span class="brand-item brand-style">iclearn</span>

   <button id="homeRoute" (click)="clickRoute($event)" class="navitem-general">Home</button>
   <button id="modelRoute" (click)="clickRoute($event)" class="navitem-general">Model</button>
   <button id="aboutRoute" (click)="clickRoute($event)" class="navitem-general">About</button>
   <button id="debugRoute" (click)="clickRoute($event)" *ngIf="showDebugRoute" class="navitem-general">Debug</button>
</div>
