.source-display-type {
    position: absolute;
    border-radius: 10% 10% 10% 10%;
    background: rgba(0, 255, 0, 0.4) !important;
    box-shadow: 2px 2px 2px black;
}

.hr-padding-margin {
    padding: 0px;
    margin: 5px 0px 5px 0px;
}

#model-source-detail {
    font-family: Lucida Console;
    font-size: 0.9em;
    color: black;
}