<div class="container-fluid">
    <div class="row text-center">
      <h4>{{neuronsModelName}}</h4>
    </div>

    <select  class="source-display-type">
       <option value="Model">Model</option>
       <option value="Text">Text</option>
       <option value="Processed">Processed</option>
    </select> 
    <div class="row text-center">
           source: {{neuronsModelPath}} <span *ngIf="!neuronsModelPath">undefined</span>
    </div>
    
    <hr class="hr-padding-margin">
    <div id="model-source-detail">
        <div [innerHtml]="sourceHtmlDetail"></div>
    </div>
</div>