<div id="datainput-panel" #dataInputPanelRoot class="conatiner">
    <div class="row">
        <div id="input-action-header" class="col-xs-4 input-action-menu action-close">
            <a (click)="closeDataInputView()"><span class="glyphicon glyphicon-remove-sign close-sign-extra"></span></a>
        </div>
        <div class="col-xs-4 input-action-menu action-go">
            <a (click)="processInput()">Go</a>
        </div>
        <div class="col-xs-4 input-action-menu action-type">
            <select class="select-button" (change)="onInputTypeChange($event.target.value)">
                <option *ngFor="let opt of inputTypesOpt" [value]="opt">{{opt}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="neuronsModel" class="row" >
        <table id="input-table" border="1" class="input-table-x">
            <thead>
            <tr>
               <th *ngFor="let cell of neuronsModel.layers[0].cellList; let i = index">
                   {{cell.getDescription()}}
               </th>
               <th>expected</th>
            </tr>
            </thead>
            <tbody>
            <tr>
               <td *ngFor="let cell of neuronsModel.layers[0].cellList; let i = index">
                   <input id="input-value-{{cell.seqIndex}}" autocomplete="off" />
               </td>
               <td><input id="expected-input" [disabled]="expectedDisabled" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>