#datainput-panel {
    position: absolute;
    z-index: 9;
}

.input-action-menu {
    background: rgba(0, 0, 0, 0.2) !important;
    border-radius: 100% 100% 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.action-close {
    text-align: left;
}

.action-go {
    text-align: center;
}
.action-go a {
    color: black;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    border: none;
    border-radius: 100% 100% 100% 100%;
    background: rgba(0, 255, 0, 0.4) !important;
    box-shadow: 2px 2px 2px black;
}

.action-type {
    text-align: right;
}
.action-type select {
    background: rgba(0, 255, 0, 0.4) !important;
    border: 0px;
    border-radius: 20% 20% 20% 20%;
    box-shadow: 2px 2px 2px black;
}

#input-table {
    width: 100% !important;
    background: rgba(220, 220, 220, 0.1)!important;
}

.input-table-x {
    border-left: 1px grey;
    border-right: 1px grey;
    border-bottom: 1px grey;
    border: 1;
}

#input-table th {
    text-align: center;
    font-size: 0.8em;
}

#input-table input {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100px;
    background: rgba(0, 220, 220, 0)!important;
}

#input-table td {
    width: 10px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 220, 220, 0.1)!important;
  }
