<div id="datainput-panel" #dataInputPanelRoot class="conatiner">
    <div class="row">
        <div class="col-sm-4 input-action-menu action-close">
            <a (click)="closeDataInputView()"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
        <div class="col-sm-4 input-action-menu action-go">
            <a (click)="closeDataInputView()" class="go-button">Go</a>
        </div>
        <div class="col-sm-4 input-action-menu action-type">
            <select class="select-button">
                <option *ngFor="let opt of inputTypesOpt" [value]="opt">{{opt}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <table id="input-table"  class="table table-condensed table-bordered input-table-x">
            <thead class="thead-dark">
            <tr>
               <th>Width</th>
               <th>Height</th>
               <th>Expected</th>
            </tr>
            </thead>
            <tbody>
            <tr>
               <td><input type="number" /></td>
               <td><input type="number" /></td>
               <td><input type="boolean" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>