.table-nonfluid {
    width: 100px !important;
    background: rgba(60, 209, 184, 0.3)!important;
    border: 1px solid lightgrey;
    border-radius: 4px;
    top: 70px;
    left: 550px;
    width: 200px;
    padding: 2px;
  }
#layersnav-panel {
    position: absolute;
    z-index: 9;
 }