.table-nonfluid {
    width: 100px !important;
    background: rgba(220, 220, 220, 0.1)!important;
  }
#layersnav-panel {
    position: absolute;
    z-index: 9;
    border: 0px solid lightgrey;
    border-radius: 4px;
    top: 70px;
    left: 550px;
    width: 300px;
    padding: 2px;
    padding-right: 2px;
 }