.table-nonfluid {
    width: 100px !important;
    background: rgba(250, 250, 250, 1.0)!important;
    border: 1px solid lightgrey;
    border-radius: 4px;
    top: 70px;
    left: 550px;
    width: 200px;
    padding: 2px;
}
#layersnav-panel {
    position: absolute;
    z-index: 9;
 }
 #layersnav-head {
    background: rgba(200, 200, 200, 0.8) !important;
    border-radius: 100% 100% 0 0;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 2px;
}
 #layers {
    font-size: 0.8em;
 }
 #layers th {
    text-align: center;
 }