<div id="layersnav-panel">
    <div>
        <a (click)="closeLayersView()"><span class="glyphicon glyphicon-remove-sign"></span></a>
    </div>
    <table id="layers" *ngIf="neuronsModel" class="table table-condensed table-bordered table-hover table-nonfluid">
    <thead>
        <tr>
           <th></th>
           <th>Layers</th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let layer of neuronsModel.layers; let i = index">
            <td>{{layer.layerIndex}}</td>
            <td>{{layer.layerType}}</td>
            <td><input type="checkbox" checked="true" (change)="toggleLayerVisible(i)" /></td>
        </tr>
    </tbody>
    </table>
</div>