<div id="modelnav-panel" class="container text-center">

   <a class="modelnav-head" data-toggle="collapse" data-target="#modelnav-menu">
      <span class="glyphicon glyphicon-th-large"></span>
   </a>
   <div id="modelnav-menu" class="collapse">
      <div><button type="button" class="btn modelnav-item" (click)="resetModelView()">
          <span class="glyphicon glyphicon-circle-arrow-up"></span></button></div>
      <div><button type="button" class="btn modelnav-item" (click)="openLayersPanel()">
          <span class="glyphicon glyphicon-align-justify"></span></button></div>
   </div>

   <template #layersnavPanel></template>
   <div id="layers-panel" class="collapse">layers</div>
   <div id="input-panel" class="collapse">input</div>
</div>